<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta NBA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Faça uma consulta</h1>
        <form action="/consulta" method="post">
            <div class="form-group">
                <label for="query">Selecione a consulta:</label>
                <select id="query" name="query" class="form-control">
                    <option value="1">Consulta 1: Times do Lebron James</option>
                    <option value="2">Consulta 2: Jogadores mais temporadas no mesmo times</option>
                    <option value="3">Consulta 3: Jogos com maior diferença de pontos</option>
                    <option value="4">Consulta 4: Times que mais venceram em casa</option>
                    <option value="5">Consulta 5: Maior número de vitórias por temporada </option>
                    <option value="6">Consulta 6: Jogadores por temporadas e e nº de times</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

